@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --black: #212529;
    --white: #FFFFFF;
    --grey: #0f0f0f;
    --red: #ed1c24;
    --green: #28a745;
}

body {
    background-color: #000000;

}

/* header styling start */

a {
    color: var(--white);
    text-decoration: none;
    font-family: poppins;
    padding: 10px;

}

@font-face {
    font-family: poppins;
    src: url(../assets/font/Poppins-Regular.ttf);
}

header {
    background-color: #000000;
    width: 1348px;
    height: 90px;
    border-bottom: 0.3px solid #212529;
}

#img {
    margin-right: 200px;
}

.nav-btn {
    color: var(--white);
    background-color: transparent;
    font-family: poppins;
    border-radius: 80px;
    padding: 12px;
    border: 1px solid var(--white);
    font-size: 14px;
    cursor: pointer;
}

.nav-btn2 {
    color: var(--white);
    background-color: var(--red);
    font-family: poppins;
    border-radius: 80px;
    border: 1px solid var(--red);
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

i {
    color: var(--red);
    background-color: var(--white);
    padding: 7px;
    border-radius: 60px;
}

span {
    font-family: futurak;
    color: var(--white);
    font-size: 52px;

}

.span1 {
    font-family: futurak;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 400;
}

p {
    font-family: Apercu;
    color: var(--white);
}

.welcome {
    background-color: #000000;
    width: 1345px;
    font-size: 40px;
}

.welcome1 {
    padding-top: 100px;
    padding-left: 400px;
}

.section1-btn {
    margin-left: 300px;
}

#new1 {
    color: #FFFFFFB3;
    background-color: #000000;
    display: block;
    width: 1345px;
    padding-top: 10px;
}

.all-div {
    background-color: #000000;
    width: 1345px;
}

#button1 {
    width: 174px;
    height: 50px;
    font-weight: 500;
    cursor: pointer;
}

@font-face {
    font-family: butler;
    src: url(../assets/font/Butler/Butler_Regular.otf);
}

@font-face {
    font-family: Apercu;
    src: url(../assets/font/Apercu/Apercu\ Pro\ Light.otf);
}

@font-face {
    font-family: futurak;
    src: url(../assets/font/futurak.ttf);
}

.image-border {
    border-radius: 4px;
}

.para3 {
    margin-left: 170px;
    color: #FFFFFFB3;
}

#islamabad {
    color: #ed1c24;
    font-family: apercu;
    letter-spacing: 7.68px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 120px;
}

#salt {
    font-family: futurak;
    font-size: 32px;
    padding-left: 120px;

}

#restaurent {
    font-family: Apercu;
    font-size: 32px;
}

#phone {
    color: #FFFFFFB3;
    padding-left: 120px;

}

#location {
    color: #FFFFFFB3;
    padding-left: 120px;

}

#phone-btn {
    color: #FFFFFFB3;
    background-color: transparent;
    padding-left: 3px;

}

#location-btn {
    color: #FFFFFFB3;
    background-color: transparent;
    padding-left: 3px;

}

#btn-1 {
    background-color: transparent;
    color: #FFFFFF;
    padding: 8px 17px 8px;
    border-radius: 40px;
    border: 0.5px solid #808080;
    margin-left: 120px;
    cursor: pointer;
}

.section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.childern1 {
    flex: 1;
}

.childern2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.childern2 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

#image2 {
    padding-left: 120px;
}

#immu {
    margin-right: 40px;
}

.parent-1 {
    display: flex;
    margin-top: 20px;
}

.sec-4 {
    width: 1517px;
}

.section4-head {
    margin-top: 50px;
    margin-left: 550px;
    font-size: 3rem;
    color: #FFFFFF;
}

.section4-span {
    color: #FFFFFF;
    font-weight: 1rem;
    margin-left: 70px;
}

#section4-islamabad {
    color: #b3151a;
    font-family: apercu;
    letter-spacing: 7.68px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 8px;
    padding-left: 230px;
}

#section4-salt {
    font-family: futurak;
    font-size: 1.5rem;
    padding-left: 160px;
}

#section4-location {
    color: #FFFFFFB3;
    padding-left: 150px;
}

#section4-location2 {
    color: #FFFFFFB3;
    padding-left: 100px;
}

#section4-location2 {
    color: #FFFFFFB3;
    padding-left: 70px;
}

#section4-phone {
    color: #FFFFFFB3;
    margin-top: 20px;
    padding-left: 190px;
}

.section4-image {
    margin-left: 100px;
}

.section4-image2 {
    margin-top: 12px;
    margin-left: 100px;
}

#section4-restaurent {
    font-family: poppins;
    font-weight: none;
    font-size: 1.6rem;
}

#btn-2 {
    background-color: transparent;
    color: #FFFFFF;
    padding: 8px 17px 8px;
    border-radius: 40px;
    border: 0.5px solid #808080;
    margin-top: 10px;
    margin-left: 200px;
    cursor: pointer;
}

.section4-image5 {
    margin-top: 12px;
    margin-left: 100px;
    width: 350px;
}

.sec-5 {
    width: 1517px;
}

.para5-span {
    font-family: butler;
    font-size: 48px;
}

.para5 {
    font-family: futurak;
    font-size: 3rem;
    color: #FFFFFF;
    margin-left: 600px;
    padding-top: 90px;
}

.section5-img {
    padding-top: 20px;
}

.gujranwala {
    font-size: 16px;
    color: #ed1c24;
    letter-spacing: 5.76px;
    padding-left: 200px;
}

#section5-btn {
    background-color: var(--green);
    color: #FFFFFF;
    padding: 8px 17px 8px;
    border-radius: 40px;
    border: 0.5px solid var(--green);
    margin-left: 170px;
}

#sbtn-arrow21 {
    color: var(--green);

}

.section5 {
    display: flex;
    justify-content: space-evenly;

}

.childern11 {
    padding-right: 910px;
}

#gujranwala {
    color: #ed1c24;
    font-family: apercu;
    letter-spacing: 7.68px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

#salt2 {
    font-family: futurak;
    font-size: 32px;
    padding-left: 10px;

}

#location2 {
    color: #FFFFFFB3;
    padding-left: 10px;
}

#phone2 {
    color: #FFFFFFB3;
    padding-left: 10px;
}

#btn-21 {
    background-color: var(--green);
    color: #FFFFFF;
    padding: 8px 17px 8px;
    border-radius: 40px;
    border: 0.5px solid #808080;
    margin-left: 10px;
    cursor: pointer;
}

.s6-para4 {
    font-size: 3rem;
    margin-left: 600px;
    margin-top: 70px;
    color: #FFFFFF;
}

.section6-span2 {
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
    margin-left: 400px;
}

.season6-span {
    font-family: apercu;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.section6-img {
    width: 420px;
    margin-top: 30px;
    margin-left: 90px;
    border-radius: 5px;
}

.section-6-1img {
    width: 425px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 5px;
}

.sec6-child1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social {
    color: rgb(33, 37, 41);
    font-family: butler;
    font-size: 32px;
    font-weight: 500;
    background-color: #000000;
    width: 1348px;
    padding-top: 90px;
    text-align: center;

}

.social {
    color: rgb(33, 37, 41);
    font-family: butler;
    font-size: 32px;
    font-weight: 500;
    background-color: #000000;
    width: 1348px;
    padding-top: 90px;
    margin-left: 100px;

}

.section-7 {
    display: flex;
    background-color: #000000;
    width: 1517px;
    justify-content: space-around;
    padding-top: 50px;
    height: 350px;

}